@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  all: unset;
}

body {
  font-size: 1rem;
  font-family: serif;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100;
}


.title {
  font-size: 2rem;
}

button {
  color: none;
  border: none;
  outline: none;
}

.darkbutton {
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  border: black;
  padding: 0.7rem 3rem;
  font-family: "Inter", sans-serif;
  border-radius: 0.4rem;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.15), 0px -4px 20px rgba(0, 0, 0, 1) inset, 1px 2px 2px rgba(0, 0, 0, 0.1), 0px 4px 5px rgba(255, 255, 255, 0.4) inset;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.9), 0px 0px 3px rgba(0, 0, 0, 0.9);
}

.lightbutton {
  color: black;
  background-color: rgba(230, 230, 230, 0.9);
  border: white;
  padding: 0.7rem 3rem;
  font-family: "Inter", sans-serif;
  border-radius: 0.4rem;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.15), 0px -5px 7px rgba(0, 0, 0, 0.2) inset, 1px 2px 2px rgba(0, 0, 0, 0.01), 0px 4px 5px rgba(255, 255, 255, 0.4) inset;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}



















darkred { color: rgb(139, 0, 0); }
maroon { color: rgb(128, 0, 32); }
firebrick { color: rgb(178, 34, 34); }
crimson { color: rgb(220, 20, 60); }
tomato { color: rgb(255, 99, 71); }
coral { color: rgb(255, 127, 80); }
indianred { color: rgb(205, 92, 92); }
lightcoral { color: rgb(240, 128, 128); }
salmon { color: rgb(250, 128, 114); }
lightsalmon { color: rgb(255, 160, 122); }
pink { color: rgb(255, 192, 203); }
lightpink { color: rgb(255, 182, 193); }
palevioletred { color: rgb(219, 112, 147); }
deeppink { color: rgb(255, 20, 147); }
hotpink { color: rgb(255, 105, 180); }
mediumvioletred { color: rgb(199, 21, 133); }

orangered { color: rgb(255, 69, 0); }
darkorange { color: rgb(255, 140, 0); }
orange { color: rgb(255, 165, 0); }
goldenrod { color: rgb(218, 165, 32); }
gold { color: rgb(255, 215, 0); }
yellow { color: rgb(255, 255, 0); }
lightyellow { color: rgb(255, 255, 224); }
lemonchiffon { color: rgb(255, 250, 205); }
lightgoldenrodyellow { color: rgb(250, 250, 210); }
moccasin { color: rgb(255, 228, 181); }
papayawhip { color: rgb(255, 239, 213); }
khaki { color: rgb(240, 230, 140); }
darkkhaki { color: rgb(189, 183, 107); }

greenyellow { color: rgb(173, 255, 47); }
chartreuse { color: rgb(127, 255, 0); }
lawngreen { color: rgb(124, 252, 0); }
lime { color: rgb(0, 255, 0); }
springgreen { color: rgb(0, 255, 127); }
mediumspringgreen { color: rgb(0, 250, 154); }
palegreen { color: rgb(152, 251, 152); }
lightgreen { color: rgb(144, 238, 144); }
darkseagreen { color: rgb(143, 188, 143); }
mediumseagreen { color: rgb(60, 179, 113); }
seagreen { color: rgb(46, 139, 87); }

aqua { color: rgb(0, 255, 255); }
lightcyan { color: rgb(224, 255, 255); }
paleturquoise { color: rgb(175, 238, 238); }
mediumturquoise { color: rgb(72, 209, 204); }
turquoise { color: rgb(64, 224, 208); }
cadetblue { color: rgb(95, 158, 160); }
steelblue { color: rgb(70, 130, 180); }
royalblue { color: rgb(65, 105, 225); }
blue { color: rgb(0, 0, 255); }
dodgerblue { color: rgb(30, 144, 255); }
deepskyblue { color: rgb(0, 191, 255); }
skyblue { color: rgb(135, 206, 235); }
lightskyblue { color: rgb(135, 206, 250); }
powderblue { color: rgb(176, 224, 230); }

lavender { color: rgb(230, 230, 250); }
orchid { color: rgb(218, 112, 214); }
violet { color: rgb(238, 130, 238); }
mediumorchid { color: rgb(186, 85, 211); }
darkorchid { color: rgb(153, 50, 204); }
darkviolet { color: rgb(148, 0, 211); }
blueviolet { color: rgb(138, 43, 226); }
purple { color: rgb(128, 0, 128); }
mediumpurple { color: rgb(147, 112, 219); }
thistle { color: rgb(216, 191, 216); }
plum { color: rgb(221, 160, 221); }

indigo { color: rgb(75, 0, 130); }
slateblue { color: rgb(106, 90, 205); }
darkslateblue { color: rgb(72, 61, 139); }
mediumslateblue { color: rgb(123, 104, 238); }

cornflowerblue { color: rgb(100, 149, 237); }
lightslategray { color: rgb(119, 136, 153); }
slategray { color: rgb(112, 128, 144); }
lightsteelblue { color: rgb(176, 196, 222); }
lightgray { color: rgb(211, 211, 211); }
silver { color: rgb(192, 192, 192); }
darkgray { color: rgb(169, 169, 169); }
gray { color: rgb(128, 128, 128); }
dimgray { color: rgb(105, 105, 105); }
lightslategray { color: rgb(119, 136, 153); }
black { color: rgb(0, 0, 0); }
white { color: rgb(255, 255, 255); }

brown { color: rgb(165, 42, 42); }
sienna { color: rgb(160, 82, 45); }
chocolate { color: rgb(210, 105, 30); }
peru { color: rgb(205, 133, 63); }
saddlebrown { color: rgb(139, 69, 19); }
sandybrown { color: rgb(244, 164, 96); }
burlywood { color: rgb(222, 184, 135); }
tan { color: rgb(210, 180, 140); }
rosybrown { color: rgb(188, 143, 143); }
navajowhite { color: rgb(255, 222, 173); }
wheat { color: rgb(245, 222, 179); }

rosybrown { color: rgb(188, 143, 143); }
darkkhaki { color: rgb(189, 183, 107); }
khaki { color: rgb(240, 230, 140); }
goldenrod { color: rgb(218, 165, 32); }
darkgoldenrod { color: rgb(184, 134, 11); }
lightgoldenrodyellow { color: rgb(250, 250, 210); }
lightyellow { color: rgb(255, 255, 224); }
lemonchiffon { color: rgb(255, 250, 205); }
moccasin { color: rgb(255, 228, 181); }
papayawhip { color: rgb(255, 239, 213); }
peachpuff { color: rgb(255, 218, 185); }
bisque { color: rgb(255, 228, 196); }
navajowhite { color: rgb(255, 222, 173); }
wheat { color: rgb(245, 222, 179); }

ivory { color: rgb(255, 255, 240); }
beige { color: rgb(245, 245, 220); }
linen { color: rgb(250, 240, 230); }
antiquewhite { color: rgb(250, 235, 215); }
seashell { color: rgb(255, 245, 238); }
oldlace { color: rgb(253, 245, 230); }
lavenderblush { color: rgb(255, 240, 245); }
mistyrose { color: rgb(255, 228, 225); }

.red { color: red; }
.blue { color: blue; }
.green { color: green; }
.yellow { color: yellow; }
.orange { color: orange; }
.purple { color: purple; }
.pink { color: pink; }
.cyan { color: cyan; }
.teal { color: teal; }
.indigo { color: indigo; }
.violet { color: violet; }
.brown { color: brown; }
.gold { color: gold; }
.silver { color: silver; }
.gray { color: gray; }
.black { color: black; }
.white { color: white; }
.lime { color: lime; }
.crimson { color: #DC143C; }
.forestgreen { color: rgb(34, 139, 34); }
.navyblue { color: #000080; }

.palegoldenrod { color: #EEE8AA; }
.lightcoral { color: #F08080; }
.darkcyan { color: #008B8B; }
.coral { color: #FF7F50; }
.darkmagenta { color: #8B008B; }
.khaki { color: #F0E68C; }
.plum { color: #DDA0DD; }
.turquoise { color: #40E0D0; }
.salmon { color: #FA8072; }
.lavender { color: #E6E6FA; }

.olive { color: #808000; }
.maroon { color: #800000; }
.tealblue { color: #367588; }
.sienna { color: #A0522D; }
.khaki { color: #F0E68C; }
.violetred { color: #D02090; }
.mintcream { color: #F5FFFA; }
.bisque { color: #FFE4C4; }
.palevioletred { color: #DB7093; }
.khaki { color: #F0E68C; }

.darkolivegreen { color: #556B2F; }
.slateblue { color: #6A5ACD; }
.tan { color: #D2B48C; }
.burlywood { color: #DEB887; }
.palegoldenrod { color: #EEE8AA; }
.cadetblue { color: #5F9EA0; }
.antiquewhite { color: #FAEBD7; }
.blanchedalmond { color: #FFEBCD; }
.darkseagreen { color: #8FBC8F; }
.mediumslateblue { color: #7B68EE; }

.crimson { color: #DC143C; }
.darkviolet { color: #9400D3; }
.mediumvioletred { color: #C71585; }
.burlywood { color: #DEB887; }
.bisque { color: #FFE4C4; }
.khaki { color: #F0E68C; }
.darkgoldenrod { color: #B8860B; }
.chocolate { color: #D2691E; }
.darkred { color: #8B0000; }
.darkorange { color: #FF8C00; }

.lightseagreen { color: #20B2AA; }
.mediumturquoise { color: #48D1CC; }
.lightsteelblue { color: #B0C4DE; }
.rosybrown { color: #BC8F8F; }
.sandybrown { color: #F4A460; }
.darksalmon { color: #E9967A; }
.palegreen { color: #98FB98; }
.mediumspringgreen { color: #00FA9A; }
.mediumseagreen { color: #3CB371; }
.darkcyan { color: #008B8B; }

.deepPink { color: #FF1493; }
.orangered { color: #FF4500; }
.tomato { color: #FF6347; }
.orchid { color: #DA70D6; }
.mediumorchid { color: #BA55D3; }
.darkorchid { color: #9932CC; }
.mediumslateblue { color: #7B68EE; }
.slategray { color: #708090; }
.lightgray { color: #D3D3D3; }
.darkgray { color: #A9A9A9; }

.springgreen { color: #00FF7F; }
.mediumpurple { color: #9370DB; }
.pink { color: #FFC0CB; }
.lightpink { color: #FFB6C1; }
.deeppink { color: #FF1493; }
.roseybrown { color: #BC8F8F; }
.crimson { color: #DC143C; }
.indianred { color: #CD5C5C; }
.darkkhaki { color: #BDB76B; }
.peachpuff { color: #FFDAB9; }

.lightyellow { color: #FFFFE0; }
.lemonchiffon { color: #FFFACD; }
.khaki { color: #F0E68C; }
.palegoldenrod { color: #EEE8AA; }
.lightgoldenrodyellow { color: #FAFAD2; }
.lightcyan { color: #E0FFFF; }
.aqua { color: #00FFFF; }
.lightblue { color: #ADD8E6; }
.powderblue { color: #B0E0E6; }
.mistyrose { color: #FFE4E1; }

.antiquewhite { color: #FAEBD7; }
.ivory { color: #FFFFF0; }
.bisque { color: #FFE4C4; }
.oldlace { color: #FDF5E6; }
.seashell { color: #FFF5EE; }
.linen { color: #FAF0E6; }
.mint { color: #3EB489; }
.slateblue { color: #6A5ACD; }
.mediumslateblue { color: #7B68EE; }
.mediumslateblue { color: #7B68EE; }

verydarkred { color: rgb(80, 0, 0); }
darkred { color: rgb(139, 0, 0); }
maroon { color: rgb(128, 0, 32); }
firebrick { color: rgb(178, 34, 34); }
crimson { color: rgb(220, 20, 60); }
tomato { color: rgb(255, 99, 71); }
lightcoral { color: rgb(240, 128, 128); }
salmon { color: rgb(250, 128, 114); }
lightpink { color: rgb(255, 182, 193); }
palevioletred { color: rgb(219, 112, 147); }

darkorange { color: rgb(255, 140, 0); }
orange { color: rgb(255, 165, 0); }
goldenrod { color: rgb(218, 165, 32); }
gold { color: rgb(255, 215, 0); }
yellow { color: rgb(255, 255, 0); }
lightyellow { color: rgb(255, 255, 224); }
lemonchiffon { color: rgb(255, 250, 205); }
lightgoldenrodyellow { color: rgb(250, 250, 210); }
moccasin { color: rgb(255, 228, 181); }
papayawhip { color: rgb(255, 239, 213); }

darkgreen { color: rgb(0, 100, 0); }
darkolive { color: rgb(85, 107, 47); }
olive { color: rgb(128, 128, 0); }
forestgreen { color: rgb(34, 139, 34); }
mediumseagreen { color: rgb(60, 179, 113); }
lime { color: rgb(0, 255, 0); }
springgreen { color: rgb(0, 255, 127); }
mediumspringgreen { color: rgb(0, 250, 154); }
lightgreen { color: rgb(144, 238, 144); }
palegreen { color: rgb(152, 251, 152); }
lightseagreen { color: rgb(32, 178, 170); }
darkseagreen { color: rgb(143, 188, 143); }

navy { color: rgb(0, 0, 128); }
royalblue { color: rgb(65, 105, 225); }
blue { color: rgb(0, 0, 255); }
dodgerblue { color: rgb(30, 144, 255); }
deepskyblue { color: rgb(0, 191, 255); }
skyblue { color: rgb(135, 206, 235); }
lightblue { color: rgb(173, 216, 230); }
powderblue { color: rgb(176, 224, 230); }
lightsteelblue { color: rgb(176, 196, 222); }
lightcyan { color: rgb(224, 255, 255); }
aqua { color: rgb(0, 255, 255); }
steelblue { color: rgb(70, 130, 180); }


indigo { color: rgb(75, 0, 130); }
darkviolet { color: rgb(148, 0, 211); }
darkorchid { color: rgb(153, 50, 204); }
mediumorchid { color: rgb(186, 85, 211); }
orchid { color: rgb(218, 112, 214); }
violet { color: rgb(238, 130, 238); }
plum { color: rgb(221, 160, 221); }
lavender { color: rgb(230, 230, 250); }
thistle { color: rgb(216, 191, 216); }

sienna { color: rgb(160, 82, 45); }
chocolate { color: rgb(210, 105, 30); }
peru { color: rgb(205, 133, 63); }
saddlebrown { color: rgb(139, 69, 19); }
sandybrown { color: rgb(244, 164, 96); }
burlywood { color: rgb(222, 184, 135); }
tan { color: rgb(210, 180, 140); }
rosybrown { color: rgb(188, 143, 143); }
moccasin { color: rgb(255, 228, 181); }
bisque { color: rgb(255, 228, 196); }
navajowhite { color: rgb(255, 222, 173); }
wheat { color: rgb(245, 222, 179); }


black { color: rgb(0, 0, 0); }
darkgray { color: rgb(169, 169, 169); }
dimgray { color: rgb(105, 105, 105); }
gray { color: rgb(128, 128, 128); }
darkslategray { color: rgb(47, 79, 79); }
lightslategray { color: rgb(119, 136, 153); }
lightgray { color: rgb(211, 211, 211); }
gainsboro { color: rgb(220, 220, 220); }
lightsteelblue { color: rgb(176, 196, 222); }
white { color: rgb(255, 255, 255); }


deeppink { color: rgb(255, 20, 147); }
hotpink { color: rgb(255, 105, 180); }
lightpink { color: rgb(255, 182, 193); }
pink { color: rgb(255, 192, 203); }
lightcoral { color: rgb(240, 128, 128); }


mediumturquoise { color: rgb(72, 209, 204); }
aquamarine { color: rgb(127, 255, 212); }
turquoise { color: rgb(64, 224, 208); }
mediumslateblue { color: rgb(123, 104, 238); }
orchid { color: rgb(218, 112, 214); }
mediumvioletred { color: rgb(199, 21, 133); }
crimson { color: rgb(220, 20, 60); }
darkmagenta { color: rgb(139, 0, 139); }
darkred { color: rgb(139, 0, 0); }
deeppink { color: rgb(255, 20, 147); }
darkblue { color: rgb(0, 0, 139);}
